.fixed-half{
    width: 890px;
}
.fixed-eighty{
    width: 1420px;
}
.fixed-twenty{
    width: 360px;
}
.fixed-full{
    width: 1780px;
}
.fixed-container{
    width: 1800px;
}
.anime-image{
    width: 400px;
}
.anime-image{
    height: 600px;
}