.fixed-half {
    width: 890px;
}

.fixed-eighty {
    width: 1420px;
}

.fixed-twenty {
    width: 360px;
}

.fixed-full {
    width: 1780px;
}

.fixed-container {
    width: 1400px;
}

.jumbotron {
    padding: 2rem 1rem;
    margin-bottom: 2rem;
    border-radius: .3rem;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0.6) 100%), url(https://i.ytimg.com/vi/1fpv8rB_7io/maxresdefault.jpg);
    background-size: cover;
    background-position: center;
    /* background:transparent !important; */
}

.jumbotron h1 {
    color: #fff;
}

.jumbotron p {
    color: #fff;
}

#pie-row {
    background-color: #e8eefc;
}

.pieHeaders {
    text-align: center;
}

.pieSvg {
    display: block;
    /* margin: auto; */
    margin-left: 20px;
    text-align: center;
}

#pie-row {
    padding-top: 50px;
}

#info-text {
    display: block;
    text-align: center;
}

.anime_text {
    color: steelblue;
}

.genre_text {
    color: maroon;
}

.hide {
    display: none !important;
}

#sidebar {
    /* position: fixed; */
    /* top: 0;
    left: 0; */
    height: 94.5vh;
    overflow-y: auto;
    /* z-index: 999; */
    background: #92B6FF;
    color: #fff;
}

#content {
    height: 94.5vh;
    overflow-y: auto;
}

#sidebar>div>div>div {
    margin-left: .75rem;
    margin-top: .75rem;
}

div.tooltip {
    position: absolute;
    text-align: center;
    background: white;
    pointer-events: none;
}

/* Tooltip container from https://www.w3schools.com/css/css_tooltip.asp */
.tooltip-custom {
    position: relative;
    display: inline-block;

}

/* Tooltip text */
.tooltip-custom .tooltiptext {
    visibility: hidden;
    width: 200px;
    background-color: lightcyan;
    pointer-events: none;
    opacity: 0.95;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;

    /* Position the tooltip text - see examples below! */
    position: absolute;
    /* z-index: 10; */
}